div {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: lightcoral;
    background-color: #f7f7f7;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 5px;
margin-right: 5px;
padding: 5px;
}